@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  transition: 0.7s;
}

body,
html {
  height: 100%;
  width: 100%;
}

#root {
  height: 100vh;
}

.ant-image-preview-img {
  width: 30rem;
  margin-left: 26rem;
  margin-top: -14.5rem;
}
